{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}

{% comment %} {% block submit_buttons_bottom %}
    {% if 'documentation' in request.path and 'change' in request.path %}
        <div class="form-group">
            <a href="{% url 'generate_new_secret' pk=object_id %}" class="btn btn-success form-control">Generar nuevo secreto</a>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %} {% endcomment %}

{% block field_sets %}
    {% if 'change' in request.path and 'documentation' in request.path or 'add' in request.path and 'documentation' in request.path %}
        <style>
            .col-sm-3 {
                -webkit-flex: 0 0 100%;
                max-width: 100%;
            }
            .col-sm-7 {
                -webkit-flex: 0 0 100%;
                max-width: 100%;
            }
        </style>
        {% if 'change' in request.path %}
        <div class="form-group">
            <a href="{% url 'object_details' model_name 1 %}" class="btn btn-success form-control">Vista previa</a>
        </div>
        {% endif %}
        <div class="col-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    {% get_changeform_template adminform as changeform_template %}
                    {% include changeform_template %}
                </div>
            </div>
        </div>
    {% elif 'change' in request.path and 'user' in request.path %}
        <style>
            .col-sm-3 {
                -webkit-flex: 0 0 100%;
                max-width: 100%;
            }
            .col-sm-7 {
                -webkit-flex: 0 0 100%;
                max-width: 100%;
            }
        </style>
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {% get_changeform_template adminform as changeform_template %}
                        {% include changeform_template %}
                    </div>
                </div>
            </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}